body, html {
    margin:0;
    padding:0;
    color:#000000;
    background:#FFFFFF url(images/back.png) repeat-y;
    font-family: 'Open Sans', Arial,Helvetica,sans-serif;
    height:100%;
}

tt {
    font-family: 'Roboto Mono', monospace;
}

body, td {
    font-size:90%;
}

H1 {
       font-size: 130%;
}
H2 {
       font-size: 115%;
}
H3 {
       font-size: 100%;
}
H4 {
       font-size: 85%;
}

.wrap {
    min-height:100%;
    height:auto !important;
    height:100%;
    margin-bottom:-3em;
}

.footer, .push {
    height:3em;
}

.push {
    clear:both;
    width:100%;
}

#main {
    float:left;
    width:68%;
    margin-left:3%;
    display:inline;
}

#content {
    margin-left:10px;
    margin-top:20px;
}

#sidebarWithLogo {
    float:left;
    width:24%;
    margin-left:3%;
}

#sidebar {
    border-left: 1px dotted #27393E;
}

#footer {
    clear:both;
    margin-left:74%;
    padding-left:20px;
    padding-right:20px;
    font-size:90%;
}

#logo {
    height:200px;
}
#logofront {
    padding-top:37px;
    height:163px;
}

H1.logofront {
text-align: left;
font-size: 160%;
margin: 0;
}

IMG.logo {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
    margin-top:0px;
}

#news {
padding:30px 10px 10px 22px;
margin:0px;
font-size:85%;
}
h3.news {
margin-bottom:.2em;
}
p.news {
margin-top:.2em;
}

#navigation {
padding:0px 10px 10px 0px;
margin:0px;
}
#navigation2 {
padding:11px 0 0 15px;
margin:0;
z-index:5;
}

a.navigation {
font-family: Raleway,Verdana,Arial,Helvetica,sans-serif;
font-size:100%;
text-decoration:none;
border-right:5px solid #0b7646;
letter-spacing:2px;
color:#0b7646;
padding:0 8px 1px 8px;
margin:4px 0 0 0;
display:block;
}

a.navigation2 {
font-family: Raleway,Verdana,Arial,Helvetica,sans-serif;
font-size:100%;
text-decoration:none;
border-right:5px solid #000000;
letter-spacing:2px;
color:#000000;
padding:0 8px 1px 8px;
margin:4px 0 0 0;
display:block;
}

a.navigation3 {
font-family: Raleway,Verdana,Arial,Helvetica,sans-serif;
font-size:100%;
text-decoration:none;
border-right:5px solid #000000;
letter-spacing:2px;
color:#555555;
padding:0 8px 1px 8px;
margin:4px 0 0 0;
display:block;
}

a.navigation:visited {
color:#0b7646;
}

a.navigation:hover {
background:#0b7646;
color:#FFFFFF;
}

a.navigation2:hover {
background:none;
}

a.anchor {
color:#000000;
text-decoration:none;
}

a.el {
color:#0b7646;
}

a.el:visited {
color:#005ba1;
}

a {
color:#005ba1;
text-decoration: underline;
}

a:visited {
color:#005ba1;
text-decoration: none;
}

a:hover {
background-color: #f2f2ff
}

p.menu {
font-weight: bold;
}
DIV.lit {
/*	font-size:       80%;*/
	margin-left:     2%;
	margin-right:    2%;
        margin-bottom:   2px;
        margin-top:      0px;
}
UL {
	list-style-type: square;
	margin-left:0;
	padding-left:2em;
}
DT {
	font-weight: bold;
	margin-top:1em;
}

.ignore {
    display:none;
}
