{% if page.url == "/" %}
{% assign homehref='class="navigation2"' %}
{% else %}
{% assign homehref='class="navigation" href="/index.html"' %}
{% endif %}

{% if page.url == "/download.html" %}
{% assign downloadhref = 'class="navigation2"' %}
{% else %}
{% assign downloadhref = 'class="navigation" href="/download.html"' %}
{% endif %}

{% if page.url == "/documentation.html" %}
{% assign dochref = 'class="navigation2"' %}
{% else %}
{% assign dochref = 'class="navigation" href="/documentation.html"' %}
{% endif %}

{% if page.url == "/news.html" %}
{% assign newshref = 'class="navigation2"' %}
{% else %}
{% assign newshref = 'class="navigation" href="/news.html"' %}
{% endif %}

{% if page.url == "/publications.html" %}
{% assign publicationshref = 'class="navigation2"' %}
{% else %}
{% assign publicationshref = 'class="navigation" href="/publications.html"' %}
{% endif %}

{% if page.url == "/community.html" %}
{% assign communityhref = 'class="navigation2"' %}
{% else %}
{% assign communityhref = 'class="navigation" href="/community.html"' %}
{% endif %}

{% if page.url == "/projects.html" %}
{% assign projectshref = 'class="navigation2"' %}
{% else %}
{% assign projectshref = 'class="navigation" href="/projects.html"' %}
{% endif %}

{% if page.url == "/interfaces.html" %}
{% assign interfhref = 'class="navigation2"' %}
{% else %}
{% assign interfhref = 'class="navigation" href="/interfaces.html"' %}
{% endif %}

{% if page.section == "overview" %}
{% assign overviewhref = 'class="navigation" href="/overview.html"' %}
{% else %}
{% assign overviewhref = 'class="navigation2"' %}
{% endif %}

  <div id="sidebarWithLogo">
    <div id="logo">
{% unless page.is_titlepage %}
    <img class='logo' src='/images/gecode-logo-100.png' alt='gecode logo' />
{% endunless %}
    </div>
  <div id="sidebar">
      <div class="ignore"><!-- only display for browsers that ignore CSS -->
        <h2>Menu</h2>
      </div>

  <div id="navigation">
    <div id="navigation2">
      <a {{ homehref }} >home</a>
      <a {{ downloadhref }} >download</a>
      <br />
      <a {{ dochref }} >documentation</a>
      <a {{ communityhref }} >community</a>
      <a {{ newshref }} >news</a>
      <br />
      <a {{ publicationshref }} >publications</a>
      <a {{ interfhref }} >interfaces</a>
      <a {{ projectshref }} >projects</a>
    </div>
  </div>
  
{% if page.is_titlepage %}
  <div id="news">
    <ul>
{% assign sorted_posts = (site.news | sort: 'date') | reverse %}
{% for post in sorted_posts limit:5 %}
      <li><i>{{ post.date | date: "%Y-%m-%d" }}</i> 
        <b>{{ post.title }}</b>
        <p>{{ post.content }}</p></li>
{% endfor %}
    </ul>
  </div>
{% endif %}

  </div> <!-- sidebar -->
  </div> <!-- sidebarWithLogo -->
  <div class="push"></div>
