<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div class="wrap">
    <div id="main">
    <div id="content">

    <div id="logofront">
    <table>
    <tr style="height:35px;">
    <td rowspan="4" style="width:240px;">
      <img src='/images/gecode-logo-120.png' alt='gecode logo' />
    </td>
    <td><h1 class="logofront">generic</h1></td>
    </tr>
    <tr style="height:35px;"><td><h1 class="logofront">constraint</h1></td></tr>
    <tr style="height:35px;"><td><h1 class="logofront">development</h1></td></tr>
    <tr style="height:35px;"><td><h1 class="logofront">environment</h1></td></tr>
    </table>
    </div>

    {{ content }}

    </div> <!-- content -->
    </div> <!-- main -->
    {% include menu.html %}
    </div> <!-- wrap -->
    {% include footer.html %}

  </body>

</html>
